<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Courses</title>
</head>
<body>
<h1>Welcome!</h1>
<br>
<h3>TimeTable</h3>
<br />
<table border="1" cellpadding="15px">
    <tr>
        <td>Start</td>
        <td>End</td>
        <td>Course Name</td>
        <td>Room</td>
        <td>Teacher</td>
    </tr>
    <tr th:each="c : ${courses}">
        <td th:text="${c?.course?.startDate}">start</td>
        <td th:text="${c?.course?.endDate}">end </td>
        <td th:text="${c?.course?.courseName}">id</td>
        <td th:text="${c?.course?.room?.roomName}">room</td>
        <td th:text="${c?.course?.teacher?.userName}">name</td>
    </tr>
</table>
</body>
</html>
